/* общее */
body{
  margin: 0;
  overflow-x: hidden;
}
li {
list-style-type: none;
}
@font-face{
font-family: Nexa;
src: url('Nexa Light.ttf');
}
.container{
font-family: Nexa;
font-weight: 500;
background-color: #f2f2f2;
margin:0;

width:100%;
display: block;
}
div{
  display: block;
}
.li{list-style-type: none;}
.header-footer{
  background-color: #fff;
  margin:0;
}
.header{
display: flex;
justify-content: space-between;
text-transform: uppercase;
align-items: center;
height: 70px;
/* position: sticky; */
top:0;
padding-right: 5px;
padding-left: 5px;

 /* position: absolute;
 top:0;
 overflow: auto; */
}
.trolley{
  width: 30px;
  height: 30px;
}

.footer{height: 50px;
padding-top: 20px;
}

.header_logo{
margin-top: auto;
margin-bottom: auto;
height:18px;
}

.nav_link{margin: 0 30px;}
.link{
  text-decoration: none;
  color: black;
}
.link:hover{color: #a4a4a4;}
.span{
  /* margin-top: 50px; */
color: #a4a4a4 ;
font-size: 15px;
}
/* общее про кнопку */
.button{
  width: 130px;
  height: 40px;
  margin-top: 5px;
  background-color: inherit;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  outline: 1px solid  #d9d9d9;
  color: #000;
  font-family:"Montserrat", monospace;
  font-weight: 400;
  background-color: #f2f2f2;
}
.button:hover{
  outline:1px solid #999999;
}

.About_link{
color: #a4a4a4;}
.Catalog_link{
color: #a4a4a4;}
.HomePage_link{
color: #a4a4a4;}


*::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c1c1c1;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #f9f9fd;
}

/* каталог */
/* .nav{

  display: flex;
  flex-direction: space-between;
} */
.all-products{
    max-width: 900px;
  padding-top:10px;
  padding-bottom:25px;
  background-color: #f2f2f2;

  margin: 0 auto;

/* new */
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 450px;

}
.name{
  /* outline: 1px solid #FF99FF; */
}
.name-value{
  height: 50px;
  display: block;
}
.card-describe{
  /* height: 50px; */
  display: inline-block;
  position: relative;
}

.products-Cat{

  align-items: center;

  /* new */
   /* width: 31%; */
       /* margin: 0 0 0 1vw; /*think about it*/ */
    /* display: inline-block; */


    /* outline: 1px solid #66AA33; */

}

.card{
  padding: 16px 16px 16px 16px;
  text-align: center;
  padding: 10px;
  line-height: min(calc(2em - 4px),calc(.8em + 23px));
}
.products-Cat:hover{
  outline: 1px solid #d9d9d9;
}

.butInvisible{
  /*visibility: hidden;*/

  display:none;
  margin: auto;
  margin-top: 5px;
  max-width: 100%;
  max-height: 100%;
}

.products-Cat:hover .butInvisible{
  /*visibility: visible;*/
  display: block;
}
.products-Cat img{

max-width: 100%;
max-height: 100%;
}

/* страница товара */
.products{
  position: relative;
  display: flex;
  flex:row;
  width:100%;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}
.book{
width: 100%;
max-width: 400px;
}
.products_About{
  padding-left: 5px;
  padding-right: 5px;
}
.picture_on_page{
  width:47%;
  max-width: 600px;

}
.name-description{
  text-align: center;
  background-color: #fff;
  margin-left: 20px;
  padding-top:5px;
  width:500px;
  height: 300px;

}

.description{
  padding: 0 15px 0 30px;
  text-align: left;
  color: #a4a4a4;
  font-size: 15px;
  width:90%;
  margin-right: 10px;
}
.butOnPage{
}

/* о нас */
.btnAbout{
  border-radius: 10px;
  width: 130px;
  height: 40px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: 1px solid  #d9d9d9;
  font:inherit;
  font-weight: 400;
  color: #787878;
    margin-right: 20px;
}
.btnAbout:hover{
text-decoration: underline;
outline:1px solid #999999;
}

  /* clip: rect(0, 0, 0, 0); */
  /* box-shadow ten na object */
.input{
  font: inherit;
  display: block;
  max-width: 750px;
  width:90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
p{
  display: block;
}
.container_for_button{
  width: 100%;
display: flex;
flex-direction: space-around;
}
.textarea{
  width: 750px;
}
.formAbout{
  display: block;
  line-height: 10px;
}
.form_Comment{
  text-align: center;
  align-items: center;
  display: flex;
  flex: column;
  justify-content: center;
  padding-bottom: 10px;
}
.About{
  margin-left: 10px;
  margin-right: 10px;
text-align: center;
}
.map{
  width: 100%;
}

/* HomePage */
.HomeContainer{
  padding-left: 10px;
  padding-right: 10px;
}
.container_three{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-row: 300px;
margin-bottom: 100px;
}
.card_three{
  width: 100%;
  text-align: center;

}
.book-HP{
  width: 100%;
}


.container_two{
  width:100%;
  margin-top: 30px;
  display: flex;
  justify-content:center;
  align-items: center;

}
.sections{
  text-align: center;

}
#left{
  margin-right: 50px;
}
.but-link{
  text-decoration:none;
  color: black;
  display: block;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-top: 20px;
  margin: 0 auto;
  /* outline: 1px solid #d9d9d9; */
}
.container_HP{
text-align: center;

}
.h2-HP{
  padding-top: 30px;
}
.section-HP{
  display: block;
  max-width:500px;
  width: 100%;
}
.opinion-HP{
  margin-top:30px;
  text-align: left;
}

.feedback_one{
  outline: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  margin:10px auto 10px auto;
  text-align: left;
  padding: 5px;
  border-color: inherit;

    color: #505050;
    /* margin-right: 20px; */

}
.fb_text{
  padding-left: 20px;
}
.fb_login{
  color: #282828;
  line-height: 2em;
}

/* Account */
.btnAcc{
  /* text-decoration: underline; */
  color: black;

  /* border-radius: 0px; */
  /* width: 130px;*/
  height: 40px;
  padding: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  /* outline: 0px solid  #d9d9d9; */
  font:inherit;
  font-weight: 400;
  /* color: #787878; */
    margin-right: 20px;


    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;
    text-decoration: none;

    transition: color .1s liner;

}
.btnAcc::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 5px;
  /* transition: opacity .1s liner; */

  }

.form_Acc{
  display: flex;
  flex-direction: column;

    display: block;
    line-height: 10px;

    text-align: center;
    align-items: center;
    display: flex;
    flex: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0px 10px 0px 10px;



}
.inpAcc{
  /* text-transform: uppercase; */
  font-weight: 300;
}
/*.slot {
  border-bottom: 10px double #888;
  border-top: 3px solid #888;
  cursor: pointer;
  float: left;
  height: 4px;
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 4px;
  transition: all 0.2s ease 0s;
  width: 25px;
}*/
.HomeContainer{
  position: relative;
}
.btnMenu{
border: none;
outline: none;
background-color: inherit;
}

.menu_block{
  width:100%;
  display: flex;
  flex-direction: column;

  /* height: 100%; */
  background-color: #ffffff;
  /*height:300px; fix it*/
  position: absolute;

  top:70px;
  padding-left: 10px;
  padding-bottom: 6vw;
}
.menu_block{
    z-index: 10;
}
.img_for_menu{
display: block;

 height:40px;

 margin:0;
 padding: 0;
 object-fill: cover;

}
.menu_title{
font: inherit;
color: #A4A4A4;
}
.category{

}



  @media only screen and (max-width: 460px){
    .nav_link{
      margin-right: auto;
    }
    .nav{
    display: none;
    }
    .header{
    display: flex;
    gap: 35%;

    }

    .all-products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 500px;}

    .name-value{
      height: 30px;
    }

    .header{
      justify-content: flex-start;
    }
    .span, .button,.feedback_one, .container{
        font-size: 11px;
    }
    .butOnPage{
      font-size: 11px;
      width: 130px;
      height: 30px;
    }
    .butInvisible{
      width: 130px;
      height: 30px;
    }
    /* Page */

    .picture_on_page{
      width: 80%;
      max-width: 400px;
      /* margin: 0 2% 0 2%; */
      margin: 0 auto 5px auto;
    }
    .products{
      display: inline-block;
    }

    .name-description{
      width:95%;
      /* max-height: 300px; */
      font-size: 11px;
      margin: 0 auto 15px;
      height: auto;
      padding-bottom: 20px;
    }

    .description{
      padding: 0 7px 0 15px;
      /* align-items: center; */
      font-size: 11px;
      width:95%;
       margin-right: 10px; }
      /*about*/
      .textarea{
        width:90%;
      }
      .input{
        width:90%;
        font-size: 11px;
      }
    .container_for_button{
      display: flex;
      justify-content: space-between;
    }
    .btnAbout{
      width: 40%;

    }
    h1{
      font-size: 20px;
    }

    .trolley{
      width: 25px;
      height: 25px;
    }
    .nav_link{margin: 0 15px;}
    .header_logo{
    height: 15px;
    }
    .footer{
      padding-top: 0px;
    }
  }

@media only screen and (min-width: 461px) and (max-width: 800px) {
.opinion-HP{
  font-size: 15px;
}
  .all-products{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 500px;
}

  .container{
    font-size: 15px;
  }

  .name-value{
    height: 50px;
    display: block;
  }

  .card-describe{
    /* height: 50px; */
    display: inline-block;
    position: relative;
  }
  .products_About{
    padding-left: 0;
    padding-right: 0;
  }
  .picture_on_page{
    width: 90%;
    max-width: 400px;
    /* margin: 0 2% 0 2%; */
    margin: 0 auto 10px auto;
  }
  .products{
    display: inline-block;

  }

  .name-description{
    width:95%;

    /* margin-top: 10px; */
    /* max-height: 300px; */
    font-size: 15px;
    margin: 0 auto 15px;
    height: auto;
    padding-bottom: 20px;
  }

  .description{
    padding: 0 7px 0 15px;
    /* align-items: center; */

    font-size: 15px;
    width:95%;
     margin-right: 10px; }

    .butOnPage{
      /* font-size: 13px; */
      /* width: 20%; */
    }


/*about*/
.textarea{
  width:90%;
}
.input{
  width:90%;
  font-size: 11px;
}
.container_for_button{
display: flex;
justify-content: space-between;
}
.btnAbout{
width: 45%;

}

.footer{
  padding-top: 7px;
}
}
/*Registratiron*/
.invisible{
display: none;
}
.container_btn{
margin: auto;
display: flex;
justify-content: center;
/*width:50%;*/

}
.btnAcc{
display: block;

}

/*
 @media only screen and (min-width: 460px) and (max-width: 768px) {
       Start header and Catalog
    .all-products{
      display: inline-block;
    }
    .butInvisible{
      width: 50%;
    }
    .products-Cat{
      width: 45%;
    }
    /* .header{
      justify-content: flex-start;
    }
    .nav_link{
      margin-right: auto;
    }
/* Finish header and Catalog */
/* Start About
    .textarea{
      width:90%;
    }
    .input{
      width:90%;
    }
}

@media only screen and (max-width: 383px){
    .butInvisible{
      font-size: 4vw;
      /* height: 100%;  */
      /* width: 50px;*/
      /* height: 30px;
    }
  .header-footer{
    font-size: 4vw;
  }
  .container{
    font-size: 5vw;
  }

  .products-Cat{
    width: 90%;
  }
  .span{


    font-size: 4vw;
  }

  .header{
    justify-content: flex-start;
  }
  .nav_link{
    margin-right: auto;
  }
.header_logo_block{
  /* display: inline-block; */
/* width:30%;
margin-right: auto;
}
  .textarea{
    width:90%;
    font-size: 5vw;
  }
  .input{
    width:90%;
      font-size: 5vw;
  }
  .btnAbout{
    /* font-size: 4vw;
    width: 50%;
    margin-bottom: 10px;
    margin-right: 0;


  }


}
@media only screen and (max-width: 320px){
  h1.{
    font-size: 6vw;
  }
} */
