{% extends "Header-Footer.html" %}
{% block title %} About us {% endblock %}

    {% block content %}
      <div class="About">
        <h1>Добро пожаловать в наш интернет-магазин!</h1>

      <h3>Здесь Вы можете оставить свой честный отзыв о нашем сотрудничестве с Вами.</h3>

    <!--  ЗДЕСЬ ОТЗЫВ -->
    <div class="form_Comment">
      <form method="post" class="formAbout">
       <!-- <h3>Напишите нам</h3> -->
       <input type="text" name="name" placeholder="Ваше имя" class="input" autocomplete="off"> <br>
       <br>
       <input type="email" name="login" placeholder="Ваша почта"  class="input" required autocomplete="off"><br>
       <br>
       <textarea name="review" id="" cols="50" rows="8" placeholder="Опишите наши достоинства и недостатки, мы к вам прислушаемся и улучшим работу"  class="input textarea"></textarea>
       <br>
      <div class="container_for_button" autocomplete="off">
       <input type="submit" class="btnAbout">
       <input type="reset" class="btnAbout"></div>

      </form>
    </div>
  {% if feedbacks %}
    <div class="feedbacks">
        {% for el in feedbacks %}
        <div class="feedback_one">
            <div class="fb_login">{{el.login}}</div>
            <div class="fb_text">{{el.text}}</div>

        </div>
        {% endfor %}

    </div>
  {% endif %}
  </div>
  {% endblock %}
