{% extends "Header-Footer.html" %}
{% block title %} Catalog {% endblock %}
    {% block content %}

      <div class="all-products">
        {% for item in items %}
        <div class="products-Cat">
          <div class="card">
          <a href="/Product/{{item.name}}"  class="link"> <img src="{{ url_for('static',filename='/img/ImgforCatalog/' +item.img) }}" class="book-Cat"></a>
          <div class="name">
            <div class="name-value">{{item.name}}</div>
          </div>
        <div class="span">
  <div class="span-value">Книга</div>
</div>
            <button class="button butInvisible">BUY</button>
            </div>
        </div>
          {% endfor %}
</div>



{% endblock %}