{% extends "Header-Footer.html" %}
{% block title %} Main {% endblock %}
{% block content %}

<div class="HomeContainer">

      <div class="container_HP">
          <h2 class="h2-HP">Главное за неделю</h2>

           <div class="container_three">

            {% for product in items %}
             <div class="card_three">
             <a href="/Product/{{product.name}}"  class="link"> <img src="{{ url_for('static',filename='/img/ImgforCatalog/' +product.img) }}" class="book-HP"></a>
             <div class="name">
               <div class="name-value">{{product.name}}</div>
             </div>
               </div>
               {% endfor %}
      </div>
    <div class="container_two">
        <div class="sections" id='left'>
          <!--           <img src="img/ImgforCatalog/LouviusVuitton.jpg" class="book-HP"> -->
            <a href="#"> <img src="{{ url_for('static',filename='/img/ImgForHP/GuidoCrepaxLanternaMagica.jpg') }}" class="section-HP"> </a> <!-- think about it -->

          <a class="but-link" href="#">LIMITED EDITION</a>

        </div>
      <div class="sections">
        <a href="#"> <img src="{{ url_for('static',filename='/img/ImgForHP/ChristmasArtIGSquare-2.jpg') }}" class="section-HP"> </a>
        <a class="but-link" href="#">SPECIAL OFFER</a>

      </div>

    </div>

  <div class="opinion-HP">
    <h2>Спасибо, что посетили нас</h2>
    <p> Нажав на "Каталог" вы можете ознакомиться с ассортиментом, также можете посетить вкладку с контактами "О нас",где можете оставить свой отзыв или узнать наше расположение. </p>
    <ul class="ul">
      <li class="li"><a href="/Catalog"  class="link">Каталог</a></li>
      <li class="li"><a href="/About"  class="link">О нас</a></li>
    </ul>
  </div>
    </div>
</div>
 {% endblock %}